<mat-card class="example-card" *ngIf="itemDetail">
    <mat-card-header>
      <mat-card-title>{{itemDetail.nombre}}</mat-card-title>
      <mat-card-subtitle>{{itemDetail.editorial}}</mat-card-subtitle>
    </mat-card-header>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
        <mat-tab *ngFor="let media of itemDetail.media; let i = index" [label]="'' + (i + 1)">
            <div class="media-container">
                <img *ngIf="media.type == 'image'" style="max-width: 50%; height: 100%;"
                    class="image" [src]="media.url" alt="Photo of a Shiba Inu">
                <!-- <video  [src]="media.url"></video> -->
                <iframe *ngIf="media.type == 'video'"
                    width="560" 
                    height="315" 
                    [src]="sanitizeUrl(media.url)" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen>
                </iframe>
            </div>
        </mat-tab>
      </mat-tab-group>
    <mat-card-content>
      <p>
        {{itemDetail.descripcion}}
      </p>
      <p>
        Precio: {{itemDetail.precio}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="contact()">CONTACTAR</button>
    </mat-card-actions>
  </mat-card>